.title {
    font-family: Garamond, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.list {
    width: 270px;
    margin: 0 auto;
    border: 5px dotted seagreen;
}
